/**
 * All of the CSS code
 */
 
/* Quick Popup Anthing Button Style */ 
button.miqpa_popup_open_button.right_center {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  -webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	right: 0;
  cursor: pointer;
}
button.miqpa_popup_open_button.left_center {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  -webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	left: 0;
}
button.miqpa_popup_open_button.right_center span,
button.miqpa_popup_open_button.left_center span {
  zoom: 1.005;
}



/**
 * All of the CSS code
 */
 
/* Quick Popup Anthing Style */ 
.miqpa-mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.miqpa-mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.miqpa-mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.miqpa-mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.miqpa-mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.miqpa-mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
.miqpa-mfp-fade.mfp-close-btn-in .mfp-close {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  opacity: 1;
  outline: none;
  border: 0px;
}
.miqpa-mfp-fade.mfp-close-btn-in .mfp-close:active {
  top: 0px;
}
.miqpa-white-popup {
  position: relative;
  background: #FFF;
  color: #000;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}
.miqpa-white-popup .wrap-miqpa {
  padding: 20px;
}

/* Quick Popup Anthing Button Style */ 
button.miqpa_popup_open_button {
  position: fixed;
  z-index: 99;
  text-decoration: none !important;
  text-transform: uppercase;
  line-height: 1;
  padding: 15px 20px;
  outline: none;
  border: 0px;
  cursor: pointer;
}
button.miqpa_popup_open_button.left_center,
button.miqpa_popup_open_button.right_center {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
button.miqpa_popup_open_button.left_center {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 0;
}
button.miqpa_popup_open_button.right_center {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  right: 0;
  cursor: pointer;
}
button.miqpa_popup_open_button.bottom_left {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  cursor: pointer;
  bottom: 0;
  left: 40px;
}
button.miqpa_popup_open_button.bottom_right {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  cursor: pointer;
  bottom: 0;
  right: 40px;
}

button.miqpa_popup_open_button.right_center span,
button.miqpa_popup_open_button.left_center span {
  zoom: 1.005;
}