/**
 * All of the CSS code
 */

/* Setting Page Style */
.miqpa_form .popup_content {
	margin-top: 20px;
}
.miqpa_form .miqpa_white_box {
	background: #fff;
	padding: 10px 30px;
	border: 1px solid lightgray;
	border-top: 0;
}
.miqpa_form #poststuff #post-body-content h2 {
    padding: 8px 12px 0;
}
.miqpa_form #poststuff p.submit {
	padding: 0;
}
.miqpa_form #poststuff p.submit .button {
	margin-bottom: 0;
}